/* Quick drtaft styles for thumbnails */
.grow img {
  transition: 1s ease;
}

.grow img:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

#photo-gallery {
  display: flex;
  justify-content: center;
  margin-left: 20px
} 

#date-selector {
  display: flex;
  justify-content: center;
  margin-top: 10px
}

.date-input-field {
  padding: 10px
}
